<% @global.each do |name, value| %>
<%= name %> = <%= value %>
<% end %>

<% @runners.each do |n, runner| %>
[[runners]]
  <% if runner.has_key?('global') %>
  <% runner['global'].each do |name, value| %>
  <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('docker') %>
  [runners.docker]
  <% runner['docker'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('machine') %>
  [runners.machine]
  <% runner['machine'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('cache') %>
  [runners.cache]
  <% runner['cache'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>
<% end %>
